
@import '~bootstrap/dist/css/bootstrap.min.css';

body { font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
.navbar-brand { font-weight: 700; }
.hero { background-color: #fffaf6; }
.card { border-radius: .6rem; }
